:root {
	--box-size: auto;
}
.playMusic {
	text-align: center;
}

.react-player {
	margin: auto;
	text-align: center;
	display: block;
}

// .play {
// 	background: url(../../assets/play-button-test.png);
// 	// background-size: auto;
// 	background-repeat: no-repeat;
// 	width: var(--box-size);
// 	height: var(--box-size);
// }
