@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');

body {
	margin: 0;
	font-family: 'Readex Pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $gray-200;
	background-color: $gray-900;
}

button {
	color: $black;
	background-color: #c8ccc9;
	border-color: $blue-800;
	border-radius: 5px;
}

input {
	color: $gray-400;
	background-color: $gray-900;
	border: none;
	border-bottom: solid 2px black;
	border-radius: 2px;
}

.hidden {
	display: none;
}

.opacityZero {
	opacity: 0;
}
